@import 'variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: $primary-color;
	overflow-x: hidden;
}

a {
	color: $primary-color;
	text-decoration: none;
	&:focus {
		outline: transparent;
	}
}
