@import 'reset';
@import 'variables';
@import 'queries';
@import 'pages/ourProducts';
@import 'pages/aboutUs';
@import 'pages/contactUs';

nav {
	background-color: #232323;
	position: fixed;
	width: 100vw;
	z-index: 10;
	&.light {
		background-color: #fff;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.301);
		transition: all 1s;
		.nav-content {
			h2 {
				color: #222;
				span {
					color: #f33f3f;
				}
			}
			.nav-right {
				.nav-links {
					a {
						color: #222;
						&.active {
							margin-bottom: 0;
							color: #f33f3f;
							border-bottom: 3px solid #f33f3f;
						}
					}
				}
			}
		}
	}
	.nav-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1100px;
		height: 5rem;
		max-width: 90vw;
		margin: auto;
		h2 {
			text-transform: uppercase;
			span {
				color: #f33f3f;
			}
		}
		.nav-right {
			height: 100%;
			.nav-links {
				height: 100%;
				display: flex;
				a {
					margin-top: 1.7rem;
					margin-left: 3rem;
					margin-bottom: 1.5rem;
					border-bottom: 0px solid #fff;
					&:hover {
						margin-bottom: 0;
						border-bottom: 3px solid #f33f3f;
						transition: margin-bottom 0.6s;
					}
					&.active {
						margin-bottom: 0;
						border-bottom: 3px solid #f33f3f;
					}
				}
			}
			.nav-mobile {
				display: none;
			}
		}
	}
}

.header {
	height: 675px;
	position: relative;
	.header-background {
		background-image: linear-gradient(
				rgba(0, 0, 0, 0.6),
				rgba(0, 0, 0, 0.6)
			),
			url(/assets/headerBG0min.jpg);
		background-size: cover;
		background-position: 50% 28%;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 100vw;
		&.showBG {
			animation: showBackGround 1s forwards;
		}
		&.hideBG {
			animation: hideBackGround 1s;
		}
	}
	.header-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -25%);
		text-align: center;
		text-transform: uppercase;
		width: 100%;
		max-width: 95vw;
		&.show {
			opacity: 1;
			transition: all 0.5s 1s;
		}
		&.hide {
			opacity: 0;
		}
		h3 {
			font-size: 1.25rem;
			color: #f33f3f;
			letter-spacing: 2px;
		}
		h1 {
			font-size: 3.5rem;
			letter-spacing: 10px;
		}
	}
	.header-navigation {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		.nav-circle {
			height: 10px;
			width: 10px;
			padding: 5px;
			border-radius: 50%;
			margin: 1rem;
			background-color: rgb(150, 150, 150);
			border: none;
			&.active {
				background-color: #fff;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.latest-products {
	padding: 5rem 0;
	.latest-products-content {
		width: 1100px;
		max-width: 90vw;
		margin: auto;
		.latest-products-heading {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1rem 0;
			border-bottom: 1px solid rgba(128, 128, 128, 0.205);
			h2 {
				color: #313131;
				font-size: 2rem;
				font-weight: 400;
			}
			a {
				color: #f33f3f;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
		.latest-products-cards {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 5rem;
			.product-card {
				width: 20rem;
				margin: 1.5%;
				border: 1px solid rgba(128, 128, 128, 0.205);
				img {
					width: 100%;
				}
				.product-card-body {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding: 1rem 2rem;
					.title-price {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						a {
							color: #6397b5;
							font-weight: 400;
						}
						h4 {
							color: #222;
							font-weight: 400;
						}
					}
					.product-description {
						margin-top: 1rem;
						p {
							color: #222;
							font-weight: 300;
							font-size: 0.8rem;
						}
					}
					.product-reviews {
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-top: 1rem;
						.product-stars {
							display: flex;
							i {
								color: #f33f3f;
								font-size: 0.8rem;
							}
						}
						.reviews {
							h5 {
								color: #f33f3f;
								font-weight: 400;
							}
						}
					}
				}
			}
		}
	}
}

.about-sixteen {
	padding: 5rem 0 0 0;
	.about-sixteen-content {
		width: 1100px;
		max-width: 90vw;
		margin: auto;
		padding-bottom: 5rem;
		border-bottom: 1px solid rgba(128, 128, 128, 0.205);
		.about-sixteen-heading {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1rem 0;
			border-bottom: 1px solid rgba(128, 128, 128, 0.205);
			h2 {
				color: #313131;
				font-size: 2rem;
				font-weight: 400;
			}
		}
		.about-sixteen-body {
			display: flex;
			margin-top: 5rem;
			.sixteen-body-left {
				display: flex;
				flex-direction: column;
				color: #222;
				width: 50%;
				padding-right: 2rem;
				h5 {
					color: #71a0bb;
					font-size: 1.2rem;
					font-weight: 400;
				}
				p {
					margin-top: 1.5rem;
					font-weight: 300;
					font-size: 0.9rem;
				}
				ul {
					margin-top: 1.5rem;
					list-style: square;
					margin-left: 1rem;
					li {
						font-size: 0.9rem;
						font-weight: 300;
						line-height: 2;
					}
				}
				button {
					margin-top: 1.5rem;
					width: 125px;
					padding: 0.9rem 0;
					color: #fff;
					background-color: #f33f3f;
					border: none;
					border-radius: 5px;
					letter-spacing: 1px;
					&:hover {
						cursor: pointer;
						background-color: #222;
						transition: all 0.6s;
					}
				}
			}
			.sixteen-body-right {
				width: 50%;
				img {
					width: 100%;
				}
			}
		}
	}
}

.purchase-now {
	padding: 5rem 0;
	.purchase-now-content {
		width: 1100px;
		max-width: 90vw;
		margin: auto;
		padding: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #f7f7f7;
		border-radius: 5px;
		.purchase-now-text {
			h4 {
				color: #6397b5;
				font-size: 1.25rem;
				font-weight: 300;
				span {
					font-weight: 700;
				}
			}
			p {
				margin-top: 1rem;
				color: #222;
				font-size: 0.9rem;
				font-weight: 300;
			}
		}
		.purchase-now-button {
			button {
				width: 125px;
				padding: 0.9rem 0;
				color: #fff;
				background-color: #f33f3f;
				border: none;
				border-radius: 5px;
				letter-spacing: 1px;
				&:hover {
					cursor: pointer;
					background-color: #222;
					transition: all 0.6s;
				}
			}
		}
	}
}

footer {
	padding: 0 0 5rem 0;
	.footer-content {
		width: 1100px;
		max-width: 90vw;
		margin: auto;
		border-top: 1px solid rgba(128, 128, 128, 0.205);
		color: #222;
		text-transform: uppercase;
		text-align: center;
	}
	p {
		padding: 5rem 0 0 0;
		font-weight: 300;
		a {
			color: #f33f3f;
		}
	}
}
